<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>User_message</string>
		<key>name</key>
		<string>我的消息</string>
		<key>ccessoryImgName</key>
		<string>User_right</string>
		<key>pushVcName</key>
		<string></string>
	</dict>
	<dict>
		<key>icon</key>
		<string>User_renwu</string>
		<key>name</key>
		<string>我的任务</string>
		<key>ccessoryImgName</key>
		<string>User_right</string>
		<key>pushVcName</key>
		<string></string>
	</dict>
	<dict>
		<key>icon</key>
		<string>User_woyuZhubo</string>
		<key>name</key>
		<string>我与主播</string>
		<key>ccessoryImgName</key>
		<string>User_right</string>
		<key>pushVcName</key>
		<string></string>
	</dict>
	<dict>
		<key>icon</key>
		<string>User_account</string>
		<key>name</key>
		<string>账户明细</string>
		<key>ccessoryImgName</key>
		<string>User_right</string>
		<key>pushVcName</key>
		<string></string>
	</dict>
	<dict>
		<key>icon</key>
		<string>User_remind</string>
		<key>name</key>
		<string>开播提醒</string>
		<key>ccessoryImgName</key>
		<string>User_right</string>
		<key>pushVcName</key>
		<string></string>
	</dict>
	<dict>
		<key>icon</key>
		<string>User_help</string>
		<key>name</key>
		<string>帮助反馈</string>
		<key>ccessoryImgName</key>
		<string>User_right</string>
		<key>pushVcName</key>
		<string></string>
	</dict>
	<dict>
		<key>icon</key>
		<string>User_settings</string>
		<key>name</key>
		<string>设置</string>
		<key>ccessoryImgName</key>
		<string>User_right</string>
		<key>pushVcName</key>
		<string></string>
	</dict>
</array>
</plist>
